*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{
	margin: 0;
	font-family: sans-serif,serif;
	
/*	height: 100vh;*/
}
img{
	border-radius: 100%;
	height: 40%;	
}
h1{
	color: white;
	font-size: 1rem;
}
a{
	text-decoration: none;
	color: white;
	padding: 10px 50px;
	background-color: black;
	border-radius: 20px;
}
a:hover{
	background-color: #242525;
}
.contenedor-logo{
	text-align: center;
}
main{
	background-image: url(fondo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
section{
	padding: 4rem 0;
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}
footer{
	padding: 3rem 0;
	background-color: #242525;
	color: white;
	text-align: center;
}